{%- if ingredient.plantable -%}
  <span>🪴</span>
  <span class="text-success verbose pl-1">yes</span>
{%- else -%}
  <span class="verbose">🚫</span>
  <span class="text-danger verbose pl-1">no</span>
{%- endif -%}