<table class="table table-hover table-bordered align-middle text-center table-sm">
  <thead>
    <tr>
      <th colspan="3">Potency</th>
      <th rowspan="2">Ingredient</th>
    </tr>
    <tr>
      <th>Magnitude</th>
      <th>Duration</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for potency, traits in effect.traits_by_potencies.items()
    | sort(attribute='0.price', reverse=True) %}
    {% for trait in traits | sort(attribute='ingredient.sort_string') %}
    <tr>
      {% if loop.first %}
      <td rowspan="{{ traits | length }}">
        {% include "snippets/potency/magnitude.html.jinja" %}
      </td>
      <td rowspan="{{ traits | length }}">
        {% include "snippets/potency/duration.html.jinja" %}
      </td>
      <td rowspan="{{ traits | length }}">
        {% include "snippets/potency/price.html.jinja" %}
      </td>
      {% endif %}
      <td class="{{'bg-primary-subtle' if ingredient and trait.ingredient == ingredient else ''}}">
        {% set ingredient = trait.ingredient %}
        {% include "snippets/ingredient/link.html.jinja" %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>