@font-face {
    font-family: "Kingthings Petrock";
    src: url(../fonts/kingthings_petrock/Kingthings_Petrock.ttf);
}

/* body {
    font-family: "Kingthings Petrock";
}

:root {
    font-size: x-large;
} */
