@font-face {
    font-family: "Kingthings Petrock";
    src: url(../fonts/kingthings_petrock/Kingthings_Petrock.ttf);
}

/* body {
    font-family: "Kingthings Petrock";
}

:root {
    font-size: x-large;
} */

/* body {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0 0;
    background-color: #EBEBEB;
    background-repeat: repeat;
    } */

    /* body {
        background-image: url(../img/paper.jpg);
    } */