{% extends "default.html.jinja" %}
{% block content %}
<section>
  <h2>Table</h2>
  <table id="effects" data-paging="false" 
  class="table table-hover table-bordered align-middle text-center table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Effect type</th>
        <th>Base cost</th>
        {# <th>Median magnitude</th>
        <th>Median duration</th>
        <th>Median price</th>
        <th>Potencies</th> #}
      </tr>
    </thead>
    <tbody>
    {% for effect in data.effects %}
      <tr>
        <th>{% include "formatting/effect/link.html.jinja" %}</th>
        <td>
          {% include "formatting/effect/effect_type.html.jinja" %}
        </td>
        <td>{{ "%.4f" | format(effect.base_cost) }}</td>
        {# <td>{{ "%.1f" | format(effect.median_magnitude) }}</td>
        <td>{{ "%.0f" | format(effect.median_duration) }}</td>
        <td>{{ "%.1f" | format(effect.median_price) }}</td>
        <td>
        {% for potency in effect.potencies %}
        {{ macros.format_potency(potency, includeEffect=False) }}: 
          {% for ingredient in potency.ingredients %}
          {{ ingredient.name }}
          {% if not loop.last %}
          , 
          {% endif %}
          {% endfor %}
        <br/>
        {% endfor %}
        </td>
      </tr> #}
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}

{% block additional_scripts %}
<script defer>new DataTable('#effects', {
  fixedHeader: true,
      layout: {
        top2Start: {searchBuilder: {} },
        topStart: {search: {} },
        topEnd: {
          buttons: [{
            extend: 'colvis'
          }]
        }
      },
      language: {
        searchBuilder: {
          title: 'Filter this table'
        }
      }
  });</script>
{% endblock additional_scripts %}