{% extends "default.html.jinja" %}
{% block title %}
{{ ingredient.name }}
{% endblock title %}
{% block content %}

<section>
  <h2>Effects</h2>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for outer_trait in ingredient.traits | sort(attribute="order") %}
      {% set effect = outer_trait.potency.effect %}
      {% set effect_id = effect.name | lower | replace(' ', '-') %}
      <button class="nav-link {{ 'active' if loop.first }}" data-bs-toggle="tab" data-bs-target="#nav-{{ effect_id }}" type="button" role="tab">
        {{ effect.name }}
      </button>
      {% endfor %}
    </div>
  </nav>

  <div class="tab-content">
    {% for outer_trait in ingredient.traits | sort(attribute="order") %}
    {% set effect = outer_trait.potency.effect %}
    {% set effect_id = effect.name | lower | replace(' ', '-') %}
    <div class="tab-pane {{ 'show active' if loop.first }}"
    id="nav-{{ effect_id }}" tabindex="0">
      {% include "snippets/effect/ingredients.html.jinja" %}
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}

{% block additional_scripts %}
{{ macros.datatables(['compatible-ingredients']) }}
{% endblock additional_scripts %}