{% import 'macros.jinja' as macros %}

{% extends "default.html.jinja" %}
{% block content %}
  <section>
    <h2>Table</h2>
    <table id="ingredients" data-paging="false" 
    class="table table-hover table-bordered align-middle text-center table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Plantable</th>
          <th>Vendor Rarity</th>
          <th>Unique to</th>
        </tr>
      </thead>
      <tbody>
      {% for ingredient in ingredients %}
        <tr>
          <th>{{ ingredient.name }}</th>
          <td>{{ ingredient.value }}</td>
          <td>
            {% if ingredient.plantable %}
            <span class="text-success">🪴 yes</span>
            {% else %}
            <span class="text-danger">🚫 no</span>
            {% endif %}
          </td>
          <td>
            {% if ingredient.vendor_rarity == 'common' %}
            <span class="text-success">◆◆◆ common</span>
            {% elif ingredient.vendor_rarity == 'uncommon' %}
            <span class="text-warning">◇◆◆ uncommon</span>
            {% elif ingredient.vendor_rarity == 'rare' %}
            <span class="text-danger">◇◇◆ rare</span>
            {% elif ingredient.vendor_rarity == 'limited' %}
            <span class="text-danger">◇◇◇ limited</span>
            {% else %}
            <span class="text-danger">🚫 none</span>
            {% endif %}
          </td>
          <td>
            {% if ingredient.unique_to %}
            {{ ingredient.unique_to }}
            {% endif %}
          </td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}

{% block additional_scripts %}
  <script defer>new DataTable('#ingredients', {
        layout: {
        topStart: 'searchBuilder'
    }
  });</script>
{% endblock additional_scripts %}