{% extends "default.html.jinja" %}
{% block content %}
  <section>
    <h2>Table</h2>
    <table id="traits" data-paging="false" 
    class="table table-hover table-bordered align-middle text-center table-sm">
      <thead>
        <tr>
          <th>Ingredient</th>
          <th>Potency</th>
        </tr>
      </thead>
      <tbody>
      {% for trait in data.traits %}
        <tr>
          <td>{{ trait.ingredient.name }}</td>
          <td>{{ macros.format_potency(trait.potency) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}


{% block additional_scripts %}
{{ macros.datatables(['traits']) }}
{% endblock additional_scripts %}